tttttt.py
TestCase/__pycache__
*.pyc
Report
Params/__pycache__
Common/__pycache__/
Conf/__pycache__
.idea
.idea/
.pytest_cache/
tiaoshi.py
ttiaoshi.py
tttiaoshi.py
jz.txt
TestCase/.pytest_cache/*
xiaoge.html
reportbak*
ceshi.png
Log/*
PytestReport
ttiaoshi.py